/* The navigation bar */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.header{
    background-image: url("http://wallpapercave.com/wp/lbQAZzP.jpg");
    color: white;
    text-align: center;
}

#main-name{
    font-size: 50px;
}

#base-explain{
    margin-bottom: 50px;
}

#pro-pic{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.about{
    text-align: center;
}


.img-with-text {
     display: flex;
     justify-content: center; 
     text-align: center;
     border-radius: 10px;
}