body{
    font-family: 'El Messiri', sans-serif;
    font-family: 'Lora', serif;
    text-align: center;
}

button{
    padding: 20px;
}

img{
    width: 90px;
    height: 90px;
    border: 20x solid darkgray;
    border-radius: 20px;
}

.uwin{
    color: green;
}
.theywin{
    color: red;
}